.job-title{
    /*color: #1771b9;*/
    font-weight: bold;
}

#tableHeader{
    width: 100%;

    tr{
        align-items: center;

        td{
            align-items: center;

            h1{
                margin-top: 10px;
            }

            #searchInput{
                margin-top: 3px;
            }
        }
    }
}

.graph-container{
    width: 85%;
    margin: 0 auto;
}

.selected-toggle{
    color: white;
    background-color: #1771b9;
}

#canvas{
    height: 100px;
}

mat-cell, mat-footer-cell, mat-header-cell{
    flex:none;
    width: 11%;
}

.mat-column-status{
    width: 10%;
}

.mat-column-name{
    width: 12%;
}

.mat-column-date{
    width: 19%;
}

.mat-column-duration{
    width: 14%;
}

.mat-column-totalTests{
    width: 7%;
}

.mat-column-passed_tcs{
    width: 7%;
}

.mat-column-failedTests{
    width: 7%;
}

.mat-column-pass_rate{
    width: 12%;
}

.mat-column-reports{
    width: 17%;
}