.selected-toggle{
    color: white;
    background-color: #1771b9;
}

#canvas{
    height: 100px;
}

mat-cell, mat-footer-cell, mat-header-cell{
    flex:none;
    width: 11%;
}

.mat-column-status{
    width: 7%;
}

.mat-column-reports{
    width: 13%;
}