<div class="uk-overflow-auto uk-card uk-card-default">
  <div class="uk-card-header">
    <div class="" uk-grid>
      <div class="uk-width-1-3">
      </div>
      <div class="uk-width-1-3">
        <form class="uk-search uk-search-default width-100">
            <span uk-search-icon></span>
            <input class="uk-search-input width-100" type="search" placeholder="Filter by job name">
        </form>
      </div>
      <div class="uk-width-1-3">
          <button mat-button>My Button</button>
      </div>
    </div>
  </div>
  <div class="uk-card-body">
    <div *ngFor="let job of jobs$" class="">
      <table class="uk-table uk-table-justify uk-table-middle">
        <tbody>
          <tr>
            <td class="width-10"><a class="uk-icon-button blue-icon"></a></td>
            <td class="width-45"><a routerLink="/jobs/1/builds">{{ job.title }}</a></td>
            <td class="width-15">
              <p><span uk-icon="icon: calendar;"></span> 12/11/{{ job.release_date }}</p>
            </td>
            <td class="width-15">{{ job.rt_score }}/{{ job.rt_score }}</td>
            <td class="width-15"><a a routerLink="/jobs/1/builds" class="uk-button uk-button-text">See Builds</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
