div.uk-card{
    margin-bottom: 10px;
}

table{

    tr{
        td.width-10{
            width: 10%;
        }
        td.width-45{
            width: 45%;
            a{
                font-weight: bolder;
            }
        }
        td.width-15{
            width: 15%;
        }
    }
}

