div.uk-card{
    margin-bottom: 10px;
}

table{

    tr{
        td.width-10{
            width: 10%;
        }
        td.width-45{
            width: 45%;
            a{
                font-weight: bolder;
            }
        }
        td.width-15{
            width: 15%;
        }
    }
}


/* Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell{
    font-size: 16px;
    color: #1771b9;
    font-weight: bolder;
}

