mat-cell, mat-footer-cell, mat-header-cell{
    flex:none;
    width: 20%;
}

.mat-column-color{
    width: 10%;
}

.mat-column-name{
    width: 25%;
}

.mat-column-date{
    width: 20%;
}

.mat-column-duration{
    width: 12%;
}

.mat-column-results{
    width: 20%;
}

.mat-column-actions{
    width: 13%;
}

