<div class="uk-overflow-auto uk-card uk-card-default">
  <div class="uk-card-header">
    <div class="" uk-grid>
      <div class="uk-width-1-3"></div>
      <div class="uk-width-1-3">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
      </div>
      <div class="uk-width-1-3"></div>
    </div>
  </div>
  <div class="uk-card-body">

      <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.title}}% </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="director">
              <mat-header-cell *matHeaderCellDef mat-sort-header> director </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.director}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[1, 10, 25, 100]"></mat-paginator>
        </div>
    
  </div>
</div>


<div *ngFor="let job of jobs$" class="">
    <table class="uk-table uk-table-justify uk-table-middle">
      <tbody>
        <tr>
          <td class="width-10"><a class="uk-icon-button blue-icon"></a></td>
          <td class="width-45"><a routerLink="/jobs/1/builds">{{ job.title }}</a></td>
          <td class="width-15">
            <p><span uk-icon="icon: calendar;"></span> 12/11/{{ job.release_date }}</p>
          </td>
          <td class="width-15">{{ job.rt_score }}/{{ job.rt_score }}</td>
          <td class="width-15"><a a routerLink="/jobs/1/builds" class="uk-button uk-button-text">See Builds</a></td>
        </tr>
      </tbody>
    </table>
  </div>
