/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}

#container {

   #content {
       padding: 30px 50px;
   }
}

a.blue-icon, a.blue-icon:hover{
    background-color: #1771b9;
}

.blue-color{
    background-color: #1771b9;
}

.red-color{
    background-color: #c44646;
}

.green-color{
    background-color: #39b984;
}

.yellow-color{
    background-color: #e8b92e;
}

.gray-color{
    background-color: #5d656b;
}

.no-radius{
    border-radius: 0px;
}

.status{
    padding: 15px;
    width: 100px;
}

.results{
    padding: 15px;
    width: 50px;
}

a.custom-link{
    color:rgba(0,0,0,.87);
    text-decoration: none;
}

a.custom-link:hover{
    color:#1771b9;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.mat-form-field.mat-focused .mat-form-field-label{
    color:#1771b9;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color:#1771b9;
}

.width-100{
    width: 100%;
}

.width-50{
    width: 50%;
}

/* Table Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell{
    font-size: 16px;
    color: #1771b9;
    font-weight: bolder;
}

mat-footer-row, mat-header-row, mat-row {
    min-width: 1280px;
}
